<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head('Join')}">
</head>
<body>
<nav th:replace="~{layout/layout :: nav('Join')}"></nav>
<div class="container p-3" style="width:350px;">

    <label class="form-label" style="text-align: center; font-size: 20px;">회원 정보 입력</label>
    <div class="mb-3">


        <label for="JoinName" class="form-label" >이름</label>
        <input type="text" class="form-control" id="JoinName" placeholder="이름" style="border-color: #80A6FF;">

    </div>
    <div class="mb-3 " >
        <label for="JoinContact" class="form-label" >아이디</label>
        <input type="text" class="form-control" id="JoinContact" placeholder="휴대전화번호('-' 포함)" style="border-color: #80A6FF;">
    </div>

    <div class=" mb-3 form-group" style="width:318px; position: relative; display: inline-block;">
        <select class="form-control" id="JoinAddr1" style="border-color: #80A6FF; padding-right: 25px; display: inline-block;">
            <option value="00">대구광역시_구선택</option>
            <option value="01">대구광역시_군위군</option>
            <option value="02">대구광역시_남구</option>
            <option value="03">대구광역시_달서구</option>
            <option value="04">대구광역시_달성군</option>
            <option value="05">대구광역시_동구</option>
            <option value="06">대구광역시_북구</option>
            <option value="07">대구광역시_서구</option>
            <option value="08">대구광역시_수성구</option>
            <option value="09">대구광역시_중구</option>
        </select>
        <div style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;">
            ▼
        </div>
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" id="JoinId" placeholder="ID를 입력해주세요" style="border-color: #80A6FF;">
        <input type="password" class="form-control" id="JoinPwd" placeholder="Pass Word를 입력해주세요" style="border-color: #80A6FF" required>
        <input type="password" class="form-control" id="JoinNick" placeholder="닉네임" style="border-color: #80A6FF" required>
    </div>

    <div class="mb-3">
        <small class="form-text text-muted">* 필수 입력 항목입니다.</small>
    </div>
</div>

</body>
</html>
